requests
jupyter
ipykernel
nbconvert
pandas
numpy
xarray
dask[dataframe]
geopandas
rasterio
rioxarray
pystac
pystac-client
spyndex
matplotlib
plotly
hvplot
geoviews
holoviews
datashader
panel
jupyter-bokeh
odc-stac
owslib